@model RichDocumentRestAPIs.Models.Document

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fileName" class="control-label"></label>
                <input asp-for="fileName" class="form-control" />
                <span asp-validation-for="fileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fileType" class="control-label"></label>
                <input asp-for="fileType" class="form-control" />
                <span asp-validation-for="fileType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastModified" class="control-label"></label>
                <input asp-for="lastModified" class="form-control" />
                <span asp-validation-for="lastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="byteSize" class="control-label"></label>
                <input asp-for="byteSize" class="form-control" />
                <span asp-validation-for="byteSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="url" class="control-label"></label>
                <input asp-for="url" class="form-control" />
                <span asp-validation-for="url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userEmail" class="control-label"></label>
                <input asp-for="userEmail" class="form-control" />
                <span asp-validation-for="userEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
